.ant-tabs-nav-wrap{
  
    text-align: center;
}

.datetime{
    color :#1890ff;
    font-size: 32px;
}

tr {
  
    border-bottom:1px #dedede;
    border-bottom-style: solid;
}
tr:last-child{
    border-bottom:1px;
    border-bottom-style: '';
}

.timeline {
    border-bottom:1px;
    border-bottom-style: '';
}