.fa table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%}

.fa td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.fa tr:nth-child(even) {
    background-color: #dddddd;
}